@mixin body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin card {
    width: 240px;
    height: 200px;
    background: rgb(77, 75, 75);
    list-style: none;
    border-radius: 25px;
    margin: 20px;
}