@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Overpass:wght@100;300;400;800&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: NULL;
  padding: NULL;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  background: #ceae85 url(/weather-js/media/weatherApp.jpg) no-repeat center center;
  background-size: cover;
}

body > * {
  background: transparent;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: NULL;
      -ms-flex-align: NULL;
          align-items: NULL;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  padding: 20px 59px 40px 23px;
  grid-row: 1 / -1;
}

.main .navbar {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 37px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main .navbar .search {
  font: 300 1rem "Overpass", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #46454580;
  border: 1px solid #ffffff4d;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  border-radius: 50px;
}

.main .navbar .search:focus {
  outline: none;
}

.main .main-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font: 100 clamp(25px, 4vw, 55px) "Overpass", sans-serif;
  color: white;
}

.main .main-sec #temperature {
  font: 400 clamp(25px, 4vw, 55px) "Manrope", sans-serif;
  color: white;
}

.main .main-sec .line {
  margin: NULL;
  padding: NULL;
  width: 3px;
  height: 50%;
  margin: 3px 3%;
  background-color: white;
  border-radius: 50px;
  border: none;
}

.main .main-sec .supers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  font: 400 20px "Manrope", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  margin-left: 5px;
}

.main .main-sec .supers .selected {
  cursor: pointer;
  font-size: clamp(25px, 3.7vw, 55px);
  margin: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.main .main-sec .supers .unselected {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin-left: 4px;
  text-shadow: none;
}

.main .main-sec .supers .unselected:hover {
  opacity: 1;
  text-shadow: 0px 0px 2px white;
}

.aside1 {
  background: #817f7f80;
  border: 1px solid #ffffff4d;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  border-top-left-radius: 35px;
  border-bottom: none;
}

.aside1 .now {
  margin: 0;
  padding: 8px;
  width: 85%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin-bottom: auto;
}

.aside1 .now .cur-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: NULL;
  padding: 0;
  width: auto;
  height: auto;
  position: relative;
}

.aside1 .now .cur-condition::before {
  content: '';
  margin: 15px;
  padding: 0;
  width: 0px;
  height: 50%;
  position: absolute;
  left: 30%;
  border: 1px solid white;
}

.aside1 .now .cur-condition #apparent {
  position: relative;
  font: 200 30px "Manrope", sans-serif;
  color: #ffffffbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: NULL;
  padding: 0;
  width: 60px;
  height: auto;
  margin-left: 17px;
}

.aside1 .now .cur-condition #apparent::before {
  content: 'Feels Like';
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font: 500 12px Overpass, sans-serif;
  color: white;
  text-align: center;
  opacity: 1;
  -webkit-transition: all 0.4 ease-in;
  transition: all 0.4 ease-in;
}

.aside1 .now #time {
  font: 300 30px "Manrope", sans-serif;
  color: NULL;
}

.aside1 .timeline {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  border: 2px solid green;
  overflow: hidden;
}

.aside1 .timeline::after {
  content: '';
  margin: 0;
  padding: 0;
  width: 75%;
  height: 0;
  margin-bottom: 20%;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid white;
}

.aside1 .timeline .half-circ-wrapper {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 65%;
  border-radius: 150px 150px 0 0;
  list-style: none;
  position: relative;
}

.aside1 .timeline .half-circ-wrapper .half-circle {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 150px 150px 0 0;
  list-style: none;
  position: relative;
}

.aside1 .timeline .half-circ-wrapper .half-circle #info {
  margin: 0;
  padding: 4px;
  width: 100%;
  height: 200%;
  overflow: hidden;
  position: absolute;
  text-align: center;
}

.aside1 .timeline .half-circ-wrapper .half-circle #info #info-at {
  font: 400 15px "Overpass", sans-serif;
  color: #ffffffab;
}

.aside1 .timeline .half-circ-wrapper .half-circle .info1 {
  right: 80%;
}

.aside1 .timeline .half-circ-wrapper .half-circle .info9 {
  left: 80%;
}

.aside1 .timeline .half-circ-wrapper .half-circle .info1, .aside1 .timeline .half-circ-wrapper .half-circle .info9 {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  top: 100%;
}

.aside1 .timeline .half-circ-wrapper .half-circle .info2 {
  -webkit-transform: rotate(292.5deg);
          transform: rotate(292.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info2 .info-at2 {
  -webkit-transform: rotate(-292.5deg);
          transform: rotate(-292.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info3 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info3 .info-at3 {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info4 {
  -webkit-transform: rotate(337.5deg);
          transform: rotate(337.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info4 .info-at4 {
  -webkit-transform: rotate(-337.5deg);
          transform: rotate(-337.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info5 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info5 .info-at5 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info6 {
  -webkit-transform: rotate(382.5deg);
          transform: rotate(382.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info6 .info-at6 {
  -webkit-transform: rotate(-382.5deg);
          transform: rotate(-382.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info7 {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info7 .info-at7 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info8 {
  -webkit-transform: rotate(427.5deg);
          transform: rotate(427.5deg);
}

.aside1 .timeline .half-circ-wrapper .half-circle .info8 .info-at8 {
  -webkit-transform: rotate(-427.5deg);
          transform: rotate(-427.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  border-radius: 150px 150px 0 0;
  list-style: none;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aside1 .timeline .half-circ-wrapper .interval-list #interval {
  margin: 0;
  padding: 7px;
  width: 100%;
  height: 175%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  left: -2%;
}

.aside1 .timeline .half-circ-wrapper .interval-list #interval #time {
  font: 400 10px "Mansrope", sans-serif;
  color: #ffffff;
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr2 {
  -webkit-transform: rotate(292.5deg);
          transform: rotate(292.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr2 .time-of2 {
  -webkit-transform: rotate(-292.5deg);
          transform: rotate(-292.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr3 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr3 .time-of3 {
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr4 {
  -webkit-transform: rotate(337.5deg);
          transform: rotate(337.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr4 .time-of4 {
  -webkit-transform: rotate(-337.5deg);
          transform: rotate(-337.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr5 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr5 .time-of5 {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr6 {
  -webkit-transform: rotate(382.5deg);
          transform: rotate(382.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr6 .time-of6 {
  -webkit-transform: rotate(-382.5deg);
          transform: rotate(-382.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr7 {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr7 .time-of7 {
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr8 {
  -webkit-transform: rotate(427.5deg);
          transform: rotate(427.5deg);
}

.aside1 .timeline .half-circ-wrapper .interval-list .hr8 .time-of8 {
  -webkit-transform: rotate(-427.5deg);
          transform: rotate(-427.5deg);
}

.aside2 {
  background: #817f7f80;
  border: 1px solid #ffffff4d;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  padding: 20px;
  border-bottom-left-radius: 35px;
  border-top: none;
}

.aside2 .card-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside2 .card-list .card {
  margin: 10px;
  padding: 10px;
  width: 70%;
  height: 78%;
  background: NULL;
  border: 1px solid #ffffff4d;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  list-style: none;
  border-radius: 15px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  font: 200 1rem "Manrope", sans-serif;
  color: white;
  position: relative;
  background: none;
  border-right: solid white 1px;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.aside2 .card-list .card p {
  margin: 0;
  padding: 0;
  width: NULL;
  height: NULL;
  font: 300 30px "Manrope", sans-serif;
  color: NULL;
}

.aside2 .card-list .card img {
  margin: 0;
  padding: 0;
  width: 50%;
  height: auto;
}

.aside2 .card-list .card::before {
  opacity: 0;
  content: '';
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#817f7f00), to(#ffffff36));
  background: linear-gradient(90deg, #817f7f00, #ffffff36);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 15px 0 0 15px;
}

.aside2 .card-list .card:hover::before {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */