@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400&display=swap');

//=============Mixins==============// 

@mixin body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin frostGlass($hex-hex)
{
    background: $hex-hex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
}

@mixin font($weight-weight, $size-size, $color-color){
    font: $weight-weight $size-size 'Overpass', sans-serif;
    color: $color-color;
}

@mixin fourGrid($row1, $row2, $col1, $col2){
    display: grid;
    grid-template-rows: $row1 $row2;
    grid-template-columns: $col1 $col2;
}

@mixin size($fillWidth-width, $fillHeight-height, $margin-margin, $padding-padding){
    margin: $margin-margin;
    padding: $padding-padding;
    width: $fillWidth-width;
    height: $fillHeight-height;
}

@mixin flex($justify-justify, $align-align, $direction-flex_dir, $self-self_ju, $self-self_al){
    display: flex;
    justify-content: $justify-justify;
    align-items: $align-align;
    flex-direction: $direction-flex_dir;
    justify-self: $self-self_ju;
    align-self: $self-self_al;
}

@mixin card($cardW-W, $cardH-H){
    @include size($cardW-W, $cardH-H, 10px, 15px);
    background: #8abed3;
    list-style: none;
    border-radius: 15px;
}

//=============Properties==============// 

body
{
    @include body();
    @include size(100vw, 100vh, NULL, NULL);
    @include fourGrid(1fr, 1fr, 3fr, 1fr);

    z-index: -100;
    background:  rgb(206, 174, 133) url(/weather-js/media/weatherApp.jpg) no-repeat center center;
    background-size: cover;

    & > *{background: transparent;}
}

.main
{
    @include flex(space-between, NULL, column, NULL, NULL);
    padding: 20px 59px 40px 23px;
    //border: 2px solid green;
    grid-row: 1 / -1;

    .navbar
    {
        @include size(50%, 37px, 0, 0);
        align-self: center;

        .search
        {
            @include font(300, 1rem, white);
            @include size(100%, 100%, 0, 0);
            @include frostGlass(#46454580);

            border-radius: 50px;
            &:focus
            {
                outline: none;
            }
        }
    }
    
    .main-sec
    {        
        @include flex(flex-start, center, NULL, NULL, NULL);
        @include size(100%, auto, 0, 0);
        @include font(300, clamp(25px, 4vw, 55px), white);

        //border: 2px solid red;

        .line
        {
            @include size(3px, 50%, NULL, NULL);
            margin: 3px 3%;
            background-color: white;
            border-radius: 50px;
            border: none;
        }

        .supers
        {
            @include font(400, 20px, white);
            @include size(auto, auto, 0, 1px);
            //border: 2px brown solid;

            .super-line
            {
                @include size(100%, 3px, 0, 0);
                background: white;
                border: none;
            }
        }
    }
}

.aside1
{
    @include frostGlass(#817f7f80);
    border-top-left-radius: 35px;
    //border: 2px solid red;
}

.aside2
{
    @include frostGlass(#817f7f80);

    padding: 20px;
    border-bottom-left-radius: 35px;
    //border: 2px solid blue;

    .card-list{
        @include size(100%, 100%, 0, 0);
        @include fourGrid(1fr, 1fr, 1fr, 1fr);

        justify-items: center;
        align-items: center;
        column-gap: 0.5px;
        border: 12x solid cyan;

        .card{
            @include card(70%, 78%);
            @include flex(space-between, flex-start, column, NULL, NULL);
            @include font(400, 1rem, white);

            p{
                @include size(NULL, NULL, 0, 0);
                @include font(300, 230%, NULL);
                align-self: flex-end;
            }
        }
    }
}