//=============Mixins==============// 

@mixin body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin fourGrid($row1, $row2, $col1, $col2){
    display: grid;
    grid-template-rows: $row1 $row2;
    grid-template-columns: $col1 $col2;
}

@mixin size($fillWidth, $fillHeight){
    width: $fillWidth;
    height: $fillHeight;
}

@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin card{
    @include size(70%, 90%);
    background: rgb(77, 75, 75);
    list-style: none;
    border-radius: 25px;
}

//=============Properties==============// 

body
{
    @include body();
    @include size(100vw, 100vh);
    @include fourGrid(1fr, 1fr, 2fr, 1fr);
}

.main
{
    border: 2px solid green;
    grid-row: 1 / -1;
}

.aside1
{
    border: 2px solid red;
}

.aside2
{
    border: 2px solid blue;

    .card-list{
        @include size(100%, 100%);
        @include fourGrid(1fr, 1fr, 1fr, 1fr);

        .card{
            @include card();

            // .line{
            //     transform: rotate(-45deg);
            // }
        }
    }
}