@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: NULL;
      -ms-flex-align: NULL;
          align-items: NULL;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > * {
  margin: NULL;
  padding: NULL;
  width: 100vw;
  height: auto;
}

body > * > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: NULL;
      -ms-flex-pack: NULL;
          justify-content: NULL;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
}

.fylo-nav {
  margin: 0;
  padding: 50px 70px 50px 70px;
  width: auto;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fylo-nav .nav-links {
  margin: 0;
  padding: 0;
  width: 20%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  list-style: none;
}

.fylo-nav .nav-links a {
  font: 400 1rem "Raleway", sans-serif;
  text-decoration: none;
  color: black;
}

.main-up {
  margin: 0 0 200px 0;
  padding: 50px;
  width: auto;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-up .upper-article {
  margin: 0;
  padding: 0;
  width: 45%;
  height: auto;
}

.main-up .upper-article h1 {
  font: 700 2.3rem "Raleway", sans-serif;
  text-decoration: none;
  color: black;
}

.main-up .upper-article p {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.main-up .submission-div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: 0;
  padding: 0;
  width: 97%;
  height: auto;
}

.main-up .submission-div1 .input1 {
  margin: 0;
  padding: 0 10px;
  width: 65%;
  height: 35px;
}

.main-up .submission-div1 .submit-btn1 {
  margin: 0 20px;
  padding: 0;
  width: 45%;
  height: 45px;
  font: 700 0.9rem "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  background: #3065f8;
  border: none;
  border-radius: 2.5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
}

.main-up .submission-div1 .submit-btn1:hover {
  background: #5782fa;
  -webkit-box-shadow: 0 0 1px 0 black;
          box-shadow: 0 0 1px 0 black;
  cursor: pointer;
}

.main-up .pic1 {
  margin: 0;
  padding: 0;
  width: 45%;
  height: auto;
}

.main-mid {
  margin: 0;
  padding: 100px;
  width: auto;
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background: #F8F8FE;
}

.main-mid::before {
  content: url(../images/bg-curve-desktop.svg);
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: absolute;
  top: -10%;
  z-index: 1;
}

.main-mid .middle-article {
  margin: 0;
  padding: 0;
  width: 55%;
  height: auto;
}

.main-mid .middle-article h2 {
  font: 700 2.5rem "Raleway", sans-serif;
  text-decoration: none;
  color: black;
}

.main-mid .middle-article p {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.main-mid .middle-article a {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: #3c9f8f;
  border-bottom: #3c9f8f 1px solid;
}

.main-mid .middle-article a::after {
  content: url(../images/icon-arrow.svg);
  margin: 0 0 0 5px;
  padding: 0;
  width: 50px;
  height: auto;
}

.main-mid .pic2 {
  margin: 0;
  padding: 0;
  width: 40%;
  height: auto;
}

.main-mid .canvas-placeholder {
  margin: 10px;
  padding: 0;
  width: 400px;
  height: 200px;
  position: relative;
  background: black;
}

.main-mid .canvas-placeholder::before {
  content: 'In progress';
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: 400 2rem "Raleway", sans-serif;
  text-decoration: none;
  color: cyan;
  position: absolute;
  z-index: 1;
  margin: auto;
  text-align: center;
  top: 0;
  left: 0;
}

.main-low {
  margin: 0;
  padding: 50px;
  width: auto;
  height: 27vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #585989;
}

.main-low .lower-article {
  font: 700 NULL "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 40%;
  height: auto;
}

.main-low .lower-article h3 {
  font: 700 1.7rem "Raleway", sans-serif;
  text-decoration: none;
  color: white;
}

.main-low .lower-article p {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
}

.main-low .submission-div2 {
  margin: 0;
  padding: 0;
  width: 30%;
  height: auto;
}

.main-low .submission-div2 .input2 {
  margin: 20px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  display: block;
}

.main-low .submission-div2 .submit-btn2 {
  margin: 0 20px;
  padding: 0;
  width: 45%;
  height: 45px;
  font: 700 0.9rem "Raleway", sans-serif;
  text-decoration: none;
  color: white;
  background: #3065f8;
  border: none;
  border-radius: 2.5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all 0.05s ease-in-out;
  transition: all 0.05s ease-in-out;
  display: block;
}

.main-low .submission-div2 .submit-btn2:hover {
  background: #5782fa;
  -webkit-box-shadow: 0 0 1px 0 black;
          box-shadow: 0 0 1px 0 black;
  cursor: pointer;
}

.fylo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: NULL;
          flex-direction: NULL;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  height: 50vh;
  background: #070439;
}

.fylo-footer .logo-text, .fylo-footer .logo-square {
  fill: #F8F8FE;
}

.fylo-footer > * {
  margin: 0 70px;
  padding: 0;
  width: auto;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fylo-footer .footer-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: center;
      align-self: center;
}

.fylo-footer .footer-col-1 a {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  text-decoration: none;
  color: white;
}

.fylo-footer .footer-col-1 a:hover {
  color: #585989;
}

.fylo-footer .footer-col-1 .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin: 30px 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.fylo-footer .footer-col-1 .contact-info .phone {
  margin-bottom: 15px;
}

.fylo-footer .footer-col-1 .contact-info .phone::before {
  content: url(../images/icon-phone.svg);
  margin: 3px;
  padding: 0;
  width: 45px;
  height: auto;
}

.fylo-footer .footer-col-1 .contact-info .email::before {
  content: url(../images/icon-email.svg);
  margin: 3px;
  padding: 0;
  width: 80px;
  height: auto;
}

.fylo-footer #list-col #content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: NULL;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.fylo-footer #list-col #content-list li {
  font: 400 1rem "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  list-style: none;
  margin-bottom: 25px;
}

.fylo-footer #list-col #content-list li a {
  text-decoration: none;
  color: white;
}

.fylo-footer #list-col #content-list li a:hover {
  color: #585989;
}

.fylo-footer .footer-col-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: NULL;
  -ms-flex-item-align: NULL;
      align-self: NULL;
  margin-right: 300px;
  width: 10%;
}

.fylo-footer .footer-col-4 .media-icon {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.fylo-footer .footer-col-4 .media-icon:hover {
  fill: #585989;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */