@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

@mixin size($fillWidth-width, $fillHeight-height, $margin-margin, $padding-padding){
    margin: $margin-margin;
    padding: $padding-padding;
    width: $fillWidth-width;
    height: $fillHeight-height;
}

@mixin font($weight-weight, $size-size, $color-color, $font-fam){
    font: $weight-weight $size-size $font-fam, sans-serif;
    text-decoration: none;
    color: $color-color;
}

@mixin button{
    @include size(45%, 45px, 0 20px, 0);
    @include font(700, 0.9rem, white, 'Raleway');
    background: hsl(224, 93%, 58%);
    border: none;
    border-radius: 2.5px;
    flex-grow: 1;
    transition: all 0.2s ease-in-out;
    &:hover{
        background: hsl(224, 94%, 66%);
        box-shadow: 0 0 1px 0 black;
        cursor: pointer;
    }
}

@mixin flex($justify-justify, $align-align, $direction-flex_dir, $self-self_ju, $self-self_al){
    display: flex;
    justify-content: $justify-justify;
    align-items: $align-align;
    flex-direction: $direction-flex_dir;
    justify-self: $self-self_ju;
    align-self: $self-self_al;
}
// ========================================

body{
    @include flex(center, NULL, column, NULL, NULL);
    @include size(100vw, auto, 0, 0);
    box-sizing: border-box;
    & > * {
        @include size(100vw, auto, NULL, NULL);
        border: red solid 2px;
        & > *{
            @include flex(NULL, center, NULL, NULL, NULL);
        }
    }
}

.fylo-nav{
    @include size(auto, auto, 0, 50px 70px 50px 70px);
    justify-content: space-between;
    border: green 3px solid;
    .nav-links{
        @include size(20%, auto, 0, 0);
        @include flex(space-between, center, NULL, NULL, NULL);
        list-style: none;

        a{@include font(400, 1rem, black, 'Raleway');}
        border: 2px solid blue;
    }
}

.main-up{
    @include size(auto, auto, 0 0 200px 0, 50px);
    justify-content: space-around;
    .upper-article{
        @include size(45%, auto, 0, 0);
        // border: red solid 2px;

        & h1 {@include font(700, 2.3rem, black, 'Raleway');}
        & p {@include font(400, 1rem, black, 'Open Sans');}
    }
    .submission-div1{
        @include flex(center, center, NULL, NULL, NULL);
        @include size(97%, auto, 0, 0);
        & .input1{@include size(65%, 35px, 0, 0 10px);}
        & .submit-btn1{@include button();}
        // border: green solid 2px;
    }
    .pic1{@include size(45%, auto, 0, 0);}
}

.main-mid{
    @include size(auto, auto, 0, 100px);
    justify-content: space-around;
    position: relative;
    background: #F8F8FE;
    // border: 2px solid green;

    &::before{
        content: url(../images/bg-curve-desktop.svg);
        @include size(100%, auto, 0, 0);
        position: absolute;
        top: -10%;
        z-index: 1;
        // border: 2px solid cyan;
    }
    .middle-article{
        @include size(55%, auto, 0, 0);

        & h2 {@include font(700, 2.5rem, black, 'Raleway');}
        & p {@include font(400, 1rem, black, 'Open Sans');}
        & a {@include font(400, 1rem, hsl(170, 45%, 43%), 'Open Sans');
            &::after{
                content: url(../images/icon-arrow.svg);
                @include size(50px, auto, 0 0 0 5px, 0);
            }
            border-bottom: hsl(170, 45%, 43%) 1px solid;
        }
    }
    .pic2{@include size(40%, auto, 0, 0);}
    .canvas-placeholder{ 
        @include size(400px, 200px, 10px, 0);
        background: black;  
    }
}

.main-low{
    @include size(auto, 27vh, 0, 50px);
    justify-content: space-around;
    background: #585989;
    .lower-article{
        @include font(700, NULL, white, 'Raleway');
        @include size(40%, auto, 0, 0);
        & h3 {@include font(700, 1.7rem, white, 'Raleway');}
        & p {@include font(400, 1rem, white, 'Open Sans');}
    }
    .submission-div2{
        @include size(30%, auto, 0, 0);
        // border: 2px solid green;
        .input2{
            @include size(100%, 35px, 20px, 0 10px);
            display: block;
        }
        .submit-btn2{
            @include button();
            display: block;
        }
    }
}

.fylo-footer
{
    @include flex(space-between, center, NULL, NULL, NULL);
    height: 50vh;
    background: hsl(243, 87%, 12%);
    & > *{
        @include size(NULL, 100%, 0 70px, 0);
        @include flex(center, flex-start, column, NULL, NULL);
        & > *, ul > *{
            @include font(400, 1rem, white, 'Open Sans');
            list-style: none;
            margin: 10px;
            & > a{
                text-decoration: none;
                color: white;
            }
        }
        flex-grow: 1;
        border: red 2px solid;
    }
}

// .fylo-main{
//     .upper-class{

//     }
// }