* 
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: aliceblue;
    
}

/* 
=======================
GrandParents
=======================
*/

.wrapper
{
    border: 2px solid red;
    /* ======================== */
    width: 100vw;
    height: 100vh;
    /* ======================== */
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-container
{
    border: 2px blue solid;
    background-color: rgba(168, 168, 168, 0.322);
    /* ======================== */
    width: 30vw;
    height: auto; 
}

.form
{
    /* border: 3px solid red; */
    width: 100%;
    min-height: 100%;
}

/* 
================
Children
================
*/

.form-control
{
    /* border: red 2px solid; */
    width: 60%;
    margin: 1.03vw/*max()*/;
}

.form-control label
{
    display: block;
    font-size: clamp(15px, 1.5vw, 30px);
}
.form-control button
{
    
}

.form-control input
{
    font-size: 1em;
    border-style: hidden;
    border-bottom: 2px solid white;
    background: transparent;
    height: 25px;
    width: 100%;
}

.form-control input:focus
{
    outline: none;
    border-bottom: 2px solid white;
    background: transparent;
}