* 
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: aliceblue;
    
}

/* 
=======================
GrandParents
=======================
*/

.wrapper
{
    border: 2px solid red;
    /* ======================== */
    width: 100vw;
    height: 100vh;
    /* ======================== */
    display: flex;
    justify-content: center;
    align-items: center;
}

.style-container
{
    border: 2px blue solid;
    background-color: rgba(168, 168, 168, 0.322);
    /* ======================== */
    width: 70vw;
    height: 80vh; 
}

.form
{
    min-width: 100%;
    min-height: 100%;
}

/* 
================
Children
================
*/

.form-control
{
    border: red 2px solid;
    width: 65%;
    padding: 1.7px;
}

.form-control label
{
    display: block;
    font-size: clamp(15px, 3.4vw, 30px);
}

.form-control input
{
    width: 100%;
}

.form-control > *
{
    margin: 2px;
}